<!--
 Frederik
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type= "text/css" href="/topnav.css">
    <link rel="stylesheet" type= "text/css" href="/News.css">
    <meta charset="UTF-8">
    <title>Nyheder</title>
</head>
<body>
<div class="topnav">
    <a href="/">Hjem</a>
    <a class="active"  href="/News2">Nyheder</a>
    <a href="/YourHelp">Hvad kan du gøre?</a>
    <a href="/About">Om os</a>
</div>
<h3>Hvad er mest ulækkert – rode i skraldespande eller at smide god mad ud?</h3>
<img src="images/skralder.jpeg" alt="skralder" width="600" height="300">
<p>Jeg skralder. Eller er med det mere poetiske engelske udtryk en ’dumpster diver’. Det vil sige, at jeg cykler rundt i mit mondæne kvarter på Østerbro og ’dykker ned’ i skraldespande fra supermarkeder og bagerbutikker</p>
<br>
<p>Jeg er vild med god mad. Går sjældent på kompromis med smag og kvalitet, reflekterer over, hvad jeg putter i min krop, og hvordan det er produceret. Turen i skraldespanden kan derfor få venner til at studse. En skraldespand signalerer umiddelbart ikke kvalitet, sundhed, eller inviterer til løbende mundvand. Eller det skulle man ikke tro. Jeg vil hævde, at det burde den ikke.<br><br>
    Men det kan den. Fangsten er forbløffende. Det er oftest frugt og grønt. Meget økologisk og meget uden tegn på dårligdom. Æblerne måske lidt stødte, en enkelt tomat i bakken dårlig, eller spidskålens yderste blade gulnede. Denne del af fangsten kan forklares. Som forbrugere vil vi have varer, der ser friske ud. Og vi vil ikke betale for seks tomater, hvis kun fem er gode. Det vil jeg heller ikke. Det virker på en måde uretfærdigt. En ’sidste salgsdato rabat’ bliver heldigvis mere udbredt. Men indsatsen er langt fra tilstrækkelig.<br><br>
    Andre dele af fangsten bryder rammerne for absurditet, og frembringer en mærkværdig følelseshybrid af forargelse og tilfredsstillelse. Det sker, når cykelkurven fyldes med lækre franske eller himmerlandske oste, gammeldagsmodnede sild, ølandshvede eller nødder. Her er intet mønster. Datomærkningen kan være måneder ude i fremtiden. Jeg opdager under jagten, at jeg søger at finde mening i udsmidningen. Ønsker at forstå det valg, som hver eneste kassering jo er. Men må erkende, at meningsløshed eller ubevidsthed tilsyneladende gennemsyrer mange handlinger.<br><br>
    Madspild i tusinde tons
    Der er naturligvis store mængder af reelt skrald, jeg aldrig ville sætte tænderne i. Desuden er ’skraldning’ et sæsonarbejde, for så snart forårssolen får os til at smide vinterjakkerne, kan jeg ikke opretholde de høje råvarestandarder. Skraldespanden er ikke længere et ekstra køleskab, men en bakteriebombe. Men mængden af gode og velsmagende fødevarer, jeg høster efterår og vinter, er chokerende. Og udsmidningen fortsætter året rundt.Vi smider i Danmark årligt over 700.000 ton mad ud, som kunne være spist. Det er 137 kilo pr. person. Heraf faktisk blot 163.000 ton fra detailhandlen. Det størst spild sker i hjemmet med 260.000 ton årligt. Det, der på cykelturen bliver en personlig fangst, er altså blot en lille del af et enormt kollektivt spild. Og det er ikke kun et spørgsmål om mad. Landbrug & Fødevarer har vurderet, at danskernes madspild koster 11,6 mia. kr. årligt.<br><br>
    Kan det bære?
    Hvis vi dertil kigger ud over de nationale grænser, får madspildet et etisk perspektiv. For ca. en milliard mennesker er under- eller fejlernæret. Samtidig forklares intensiveret landbrugsdrift (ofte med miljøskadelige konsekvenser) med, at vi skal producere 70 procent mere mad for at kunne brødføde kommende generationer. Men på verdensplan produceres der allerede i dag fødevarer til, hvad der svarer til 4.600 kcal per indbygger, dobbelt så meget som nødvendigt! Men fordi store dele af fødevareproduktionen bliver til dyrefoder frem for menneskelig kost, skaber vi global ubalance. Der går f.eks. syv kg korn til et kilo oksekød. Samtidig koster 1 kg oksekød ca. 25 kg CO2. Til sammenligning giver et kilo kylling ca.tre kilo og et kilo kartofler 0,2 C02.<br><br>
    Mindre madspild. Og lidt mindre kød. Ville det være så slemt? Den første skraldetur for over 1½ år siden krævede overvindelse. At samle mad fra en skraldespand er umiddelbart ulækkert og ekstremt. Men er det ikke mere ekstremt og ulækkert, at vi smider tusinder af ton god mad ud, mens mennesker sulter og vi tærer unødigt på jordens ressourcer?
</p>
<div th:replace="footer">...</div>
</body>
</html>