<!--
 Yannick
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type= "text/css" href="/topnav.css">
    <link rel="stylesheet" type= "text/css" href="/about.css">
    <meta charset="UTF-8">
    <title>Om os - Stop madspild</title>
</head>
<body>
<!-- Navigations bar -->
<div class="topnav">
    <a  href="/">Hjem</a>
    <a href="/News2">Nyheder</a>
    <a href="/YourHelp">Hvad kan du gøre?</a>
    <a class="active" href="/About">Om os</a>
</div>


<div class="about-section">
    <h1 style="color:#000000">Danmark mod madspild</h1>
    <p style="color:#000000">Vi er Danmarks største bevægelse mod madspild. Vi har igangsat kampen mod madspild i Danmark og vi bragte Danmarks kamp mod madspild på verdenskortet.
        Madaffald er alt affald, der stammer fra mad. Madaffald kan opdeles i to: madspild og øvrigt madaffald.

        Madspild er fødevarer, der kunne være spist, men i stedet er blevet smidt ud. Øvrigt madaffald er de dele af fødevarer, der ikke er egnet til at spise.
        Eksempler på madspild er brød, hel frugt og grønt og middagsrester. Eksempler på øvrigt madaffald er æggeskaller, osteskorper, kaffegrums og kernehuse.
        Hver dansker smider 47 kg spiselig mad ud om året. Samlet set udgør madspild 42 kg pr. person pr. år i enfamilieboliger og 59 kg pr. person pr. år i etageboliger.
    </p>
</div>

<h2 style="text-align:center">Den daglige ledelse</h2>
<div class="row">

    <!-- Person 1 -->

    <div class="column">
        <div class="card">
            <img src="/images/AliciaKeys.jpg" alt="Alicia Keys" style="width:100%">
            <div class="container">
                <h2>Alicia Keys</h2>
                <p class="title">Generalsekretær</p>
                <p>tlf. 13371337</p>
                <p>Aliciakeys@danmarkmodmadspild.dk</p>
                <p><a href="mailto:Aliciakeys@danmarkmodmadspild.dk>"<button class="button">Kontakt</button></a></p>
            </div>
        </div>
    </div>

    <!-- Person 2 -->

    <div class="column">
        <div class="card">
            <img src="/images/GeorgeMichael.jpg" alt="George Michael" style="width:100%">
            <div class="container">
                <h2>George Michael</h2>
                <p class="title">Vicegeneralsekretær</p>
                <p>tlf. 13371337</p>
                <p>georgemichael@stopmadspild.dk</p>
                <a><a href="mailto:georgemichael@danmarkmodmadspild.dk>"<button class="button">Kontakt</button></a></p>
            </div>
        </div>
    </div>

    <!-- Person 3 -->

    <div class="column">
        <div class="card">
            <img src="/images/RickyMartin.jpg" alt="Ricky Martin" style="width:100%">
            <div class="container">
                <h2>Ricky Martin</h2>
                <p class="title">Økonomidirektør</p>
                <p>tlf. 13371337</p>
                <p>rickymartin@stopmadspild.dk</p>
                <p><a href="mailto:rickymartin@danmarkmodmadspild.dk>"<button class="button">Kontakt</button></a></p>
            </div>
        </div>
    </div>
</div>
<div th:replace="footer">...</div>

</body>
</html>


