<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/topnav.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="footer">
    <p style="float: left; margin: 10px; opacity: 70%;">
        Copyright 2020
    </p>
    <a href="https://www.facebook.com/Madspild">
        <img src="images/roundFacebook-kopi.png" alt="facebook" width="35" height="35" style="float: right; margin: 10px">
    </a>
    <a href="mailto:dmm@live.dk">
        <img src="images/roundMessage-kopi.png" alt="mail" width="35" height="35" style="float: right; margin: 10px">
    </a>
</div>

</body>
</html>