<!--
 Max
 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/topnav.css">
    <link rel="stylesheet" type="text/css" href="/home.css">
    <meta charset="UTF-8">
    <title>Stop madspild!</title>
</head>
<body>

<!-- Navigation bar -->
<div class="topnav">
    <a class="active" href="/">Hjem</a>
    <a href="/News2">Nyheder</a>
    <a href="/YourHelp">Hvad kan du gøre?</a>
    <a href="/About">Om os</a>
</div>

<!-- Infomation card -->
<div class="center-card">
    <h3>
        Præcis hvor meget mad spilder vi i Danmark?
    </h3>
    <p>
        Læs nedenunder hvor meget mad vi danskere har spildt indtil videre i år.
    </p>
    <img src="/Images/madspild.jpg" alt="madspild" style="width: 100%">
</div>

<!-- Column 1 -->
<div class="column">
    <div class="card">

        <h3>
            Samlet dansk madspild i år.
        </h3>

        <h1 th:text="${totalWaste}"> ton.</h1>
        <h1>ton.</h1>

        <p>Så meget mad har danskere smidt ud i år indtil videre.</p>

    </div>
</div>


<!-- Column 2 -->
<div class="column">
    <div class="card" style="    text-align: center;
    box-shadow: 2px 4px 8px #8fea5f;
    padding: 10px;
    margin: 50px;">

        <h3>
            Gennemsnitlig madspild pr. dansker i år.
        </h3>

        <h1 th:text="${personWaste}"/>
        <h1>kilo.</h1>

        <p>
            Så meget spiselig mad har den gennemsnitlige dansker smidt ud i år indtil videre.
        </p>

    </div>
</div>

<!-- Column 3 -->
<div class="column">
    <div class="card" style="text-align: center;
    box-shadow: 2px 4px 8px #8fea5f;
    padding: 10px;
    margin: 50px;">

        <h3>
            Samlet madspild i de danske husholdninger i år.
        </h3>

        <h1 th:text="${householdWaste}"/>
        <h1>ton.</h1>

        <p>Så meget mad har de danske husholdninger smidt ud i år indtil videre.</p>

    </div>
</div>

</body>
</html>