<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type= "text/css" href="/topnav.css">
    <link rel="stylesheet" type= "text/css" href="/News.css">
    <link rel="stylesheet" type= "text/css" href="/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>

<div class="topnav">
    <a href="/">Hjem</a>
    <a class="active"  href="/News2">Nyheder</a>
    <a href="/YourHelp">Hvad kan du gøre?</a>
    <a href="/About">Om os</a>
</div>

<div class="about-section">
    <h1 style="color:#000000">Er du intereseret i madspild?</h1>
    <p style="color: #000000">Læs de nyeste nyheder gennem relevante artikler om madspild.</p>
</div>

<div class="row">
    <div class="column1" >
        <h3>Lidl indgår samarbejde med Too Good To Go om lykkeposer. <a href="/one">læs mere</a> </h3>
        <img src="images/lidl.png" alt="lidl" style="width: 100%" height="250px">

    </div>
    <div class="column1" >
        <h3>Coops kunder har reddet en million måltider fra skraldespanden. <a href="/two">læs mere</a></h3>
        <img src="images/coopbil.jpg" alt="coopbil" style="width: 100%" height="250px">
    </div>
    <div class="column1" >
        <h3>Det store madspild sker ikke i hjemmet – men hos producenterne. <a href="/three">læs mere</a></h3>
        <img src="images/bur.jpg" alt="bur" style="width: 100%" height="250px">
    </div>
</div>

<div class="row">
    <div class="column1" >
        <h3>Flere fattige danskere gør brug af muligheden for gratis mad gennem Facebook.  <a href="/four">læs mere</a></h3>
        <img src="images/aftensmad.jpg" alt="aftensmad" style="width: 100%" height="250px">
    </div>
    <div class="column1" >
        <h3>Hvad er mest ulækkert – rode i skraldespande eller at smide god mad ud?. <a href="/five">læs mere</a></h3>
        <img src="images/skralder.jpeg" alt="skralder" style="width: 100%" height="250px">
    </div>
    <div class="column1" >
        <h3>Spis og red klimaet. Vi smider hvert år mere end en halv million ton spiselig mad ud. <a href="/six">læs mere</a></h3>
        <img src="images/skraldeSpande.jpg" alt="skraldeSpande" style="width: 100%" height="250px">
    </div>
</div>
<div th:replace="footer">...</div>

</body>
</html>
