<!--
 Frederik
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type= "text/css" href="/topnav.css">
    <link rel="stylesheet" type= "text/css" href="/News.css">
    <meta charset="UTF-8">
    <title>Nyheder</title>
</head>
<body>
<div class="topnav">
    <a href="/">Hjem</a>
    <a class="active"  href="/News">Nyheder</a>
    <a href="/YourHelp">Hvad kan du gøre?</a>
    <a href="/About">Om os</a>
</div>
<h3>Lidl indgår samarbejde med Too Good To Go om lykkeposer</h3>
<img src="images/lidl.png" alt="lidl" width="600" height="300">
<p>Kunder i Lidl har for alvor taget madspildsdagsordenen til sig.</p>
<br>

<p>Efter en testperiode er ordningen blevet landsdækkende, og der er nu hentet flere end 50.000 såkaldte lykkeposer med overskudsmad i Lidl, fortæller virksomheden i en pressmeddelelse.<br><br>
    Det er, ifølge Too Good To Go – der har udviklet en app, hvor man kan købe overskudsmad fra bagerier, supermarkeder og restauranter – ny rekord, at man har haft så meget succes i selve opstartsfasen.<br><br>
    Samtidig sætter Lidl nu, som en af de første dagligvarekæder, en konkret målsætning på sine madspildsambitioner. Ambitionen er i overensstemmelse med FN’s verdensmål nr. 12.<br><br>
    - I Lidl har vi i mange år bekæmpet madspild, og vi øger nu vores ambition, så vi i 2030 skal have nedbragt vores madspild med 50 procent. At smide så lidt mad ud som muligt giver både mening for miljøet og vores forretning. Detailhandlen står for mere end en femtedel af vores madspild i Danmark, og derfor har vi et kæmpe ansvar, siger Lærke Skaksen, Head of CSR i Lidl.<br><br>
    I Lidl har man iværksat en lang række initiativer på området. De omfatter bl.a. udvælgelsen af de enkelte varer, mængden der købes ind, kvaliteten af varerne og naturligvis friskheden af dem.
    De i alt 50.000 lykkeposer med overskudsmad svarer til 200 tons mad, der er blevet reddet.
    Siden starten af december er lykkeposerne næsten udsolgt hver dag.
    - I Lidl mener vi, at mad skal spises, ikke smides ud. Derfor er vi stolte af, at det er lykkedes vores 124 butikker at redde over 50.000 lykkeposer med overskudsmad, siger Marcus Gustafsson, Chief Operating Officer i Lidl.<br><br>
    De gode resultater øger motivationen hos Lidl, der i 2020 forventer at redde mere end 250.000 lykkeposer, svarende til ca. 1.000 tons mad.

</body>
</html>