<!--
 Frederik
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type= "text/css" href="/topnav.css">
    <link rel="stylesheet" type= "text/css" href="/News.css">
    <meta charset="UTF-8">
    <title>Nyheder</title>
</head>
<body>
<div class="topnav">
    <a href="/">Hjem</a>
    <a class="active"  href="/News2">Nyheder</a>
    <a href="/YourHelp">Hvad kan du gøre?</a>
    <a href="/About">Om os</a>
</div>
<h3>Det store madspild sker ikke i hjemmet – men hos producenterne</h3>
<img src="images/bur.jpg" alt="bur" width="600" height="300">
<p>Størstedelen af verdens madspild sker i forbindelse med virksomhedernes produktion og håndtering af fødevarer, konstaterer ny rapport, som er udkommet i dagene op til World Food Summit i København</p>
<br>
<p>Hvis man tror, at den største synd, når det gælder madspild, er sur mælk i køleskabet eller muggent brød i køkkenskabet, så tager man nok fejl.<br><br>
    Det er i højere grad på virksomhedernes banehalvdel, at kampen mod madspild skal stå, konstaterer en ny rapport.<br><br>
    »Deres rolle er den allermest kritiske,« siger Esben Hegnsholt, der er medforfatter til rapporten og direktør i konsulenthuset Boston Consulting Group (BCG).<br><br>
    I forrige uge udgav han og BCG i samarbejde med State of Green og Food Nation rapporten Tackling the 1.6- Billion-Ton Food Loss and Waste Crisis.<br><br>
    Gennem arbejdet har forfatterne kortlagt årsagerne til det globale madspild. Og hvor fokus – også i medierne – ofte har placeret ansvaret på forbrugernes skuldre, identificerer rapporten kolossale problemer hos virksomhederne.<br><br>
    Størstedelen af fødevaretabet sker allerede i faserne produktion, håndtering og opbevaring samt pakning. Og imens forbrugerne kan tilskrives 340 millioner ton madspild om året på globalt plan, er producenternes madspild med 1.010 millioner ton årligt omtrent tre gange så stort. Den resterende del af madspildet på 200 millioner ton sker i distribution og detailhandel.<br><br>
    Ifølge Esben Hegnsholt sker mere end halvdelen af fødevaretabet blandt produkter som frugter, grøntsager, rodfrugter og knolde.<br><br>
    »Det er letfordærvelige fødevarer. Mange af de frugter og grøntsager, vi spiser off-season, kommer fra lande langt væk, hvor fødevaretabet er stort, fordi der ikke er ordentlige køle- og transportfaciliteter,« siger Esben Hegnsholt og understreger, at selve rapportens analysearbejde begynder i det øjeblik, en given råvare er moden til at høste. Det vil sige, at et æble, der falder til jorden og rådner, også regnes som et fødevaretab.<br><br>
    World Food Summit
    Timingen af rapporten er ikke tilfældig. Torsdag står miljø- og fødevareminister Jakob Ellemann-Jensen (V) i spidsen for det internationale fødevaretopmøde World Food Summit, der afholdes i Bella Centret i København. Her er et af de øverste punkter på dagsordenen at producere bedre mad til flere mennesker – bl.a. ved at mindske det globale madspild.<br><br>
    Overordnet set søger rapporten at sætte tal på omfanget af madspild, samtidig med at den kalkulerer forretningspotentialet for virksomheder i optimere deres forsyningskæde, når det kommer til produktion og håndtering af fødevarer.<br><br>
    »Vi har taget et problem, der er velkendt i størrelse, men vi har analytisk bevist, hvordan det vokser, hvorfor det vokser, og hvor meget det vokser,« uddyber Esben Hegnsholt.<br><br>
    »Og så har vi kigget på, hvad man kan gøre ved det.«
</p>
<p>Løsningsforslagene vender vi tilbage til.<br><br>
    Tallene i rapporten taler nemlig et tydeligt sprog. Hvert år smider vi på verdensplan 1,6 milliarder ton mad ud. Og ud over de menneskelige konsekvenser, regnes madspild for at være årsag til otte procent af de udledte drivhusgasser i verden, hvilket belaster klimaet. På globalt plan skaber madspild et samfundsøkonomisk tab på cirka 700 milliarder dollar, anslår BCG i rapporten. Oversat til dansk svarer det til astronomiske 4.583 milliarder kroner.<br><br>
    »Knap en tredjedel af den mad, der produceres på globalt plan, går til spilde,« siger Esben Hegnsholt.<br><br>
    Og problemet er stigende. Imens 870 millioner mennesker – ifølge FN’s fødevare og landbrugsorganisation – sulter eller lider af underernæring, forventes mængden af madspild at stige med en tredjedel, når vi når 2030. En udvikling, der harmonerer dårligt med FN’s bæredygtighedsmål om at halvere problemet i samme periode.<br><br>
    Når toget er 12 timer forsinket
    Spørger man Esben Hegnsholt er en af forklaringerne på producenternes enorme madspild, at der stadig er et stort problem i udviklingslandene, hvor mange fødevarer produceres. Og derfor skal der først og fremmest sættes ind i forbindelse med produktion og transport, lyder hans opfordring.<br><br>
    »Hvis vi tager Indien som eksempel, er der ikke altid adgang til systematisk køling. Hvis du har en kasse mangoer i for meget varme i for mange dage, så accelereres modningsprocessen – og det gør, at varen måske aldrig når sin endedestination.«<br><br>
    Men selv om køling er en stor del af problemet, ser Esben Hegnsholt også store udfordringer med virksomhedernes infrastrukturer. Her kan øget fokus og bevidsthed virkelig rykke noget ved det, han kalder »et mismatch i transporten«.<br><br>
    »Det er f.eks. når fødevarer venter 12 timer på et tog, der er forsinket. Eller en lastbil, der skal hente varer den og den dag, men ikke dukker op. Der kan også være fødevarer, der står en uge for længe på havnen, fordi det ikke bliver hentet til tiden. Det er store logistiske udfordringer,« fortæller Hegnsholt.<br><br>
    Virksomheder har på globalt plan været for langsomme til at udvikle en digital teknologi, der kan skabe bedre balance mellem udbud og efterspørgsmål. Det skal der tages større ansvar for, mener han.
    »I de spirende markeder er der tab, der ikke burde være der, og der kan danske virksomheder spille en stor rolle, fordi vi har teknologier, der kan være med til at løse problemet. Danske virksomheder sidder nemlig på forreste række i klassen, når det kommer til kampen mod madspild,« siger han.<br><br>
    Derfor peger rapporten på en række konkrete indsatsområder, hvor virksomheder potentielt kan halvere mængden af madspild på globalt plan inden 2030 og samtidig spare samfundet penge.
    Forfatterne bag rapporten mener eksempelvis, at man kan nedbringe verdens årlige madspild på 1,6 milliarder ton årlige madspild med 190 millioner ton om året ved at øge bevidstheden om problemet hos landmanden og de produktionsansatte.<br><br>
    En bedre infrastruktur og øget effektivitet i virksomhedernes forsyningskæde kan yderligere reducere cirka 330 millioner ton fødevarespild, mens politiske reguleringer og afgifter anslås at nedsætte det globale madspild med 150 millioner ton. Og alene det, at bondemand og producent begynder at indgå samarbejder om at stoppe bevidst overproduktion, estimeres at kunne forhindre 150 millioner ton.<br><br>
    »Og de her mål er faktisk ikke urealistiske,« siger Esben Hegnsholt.<br><br>
    »Det er heller ikke nemt. Men det er ikke urealistisk.«<br><br>
    For at øge det daglige fokus på madspild foreslår rapporten et helt nyt mærkat, der skal sættes på varerne – ligesom vi kender det fra Fairtrade-logoet. Det skal give forbrugerne mulighed for at støtte virksomheder, der investerer i og bekæmper madspild.
</p>
</body>
</html>