<!--
 Frederik
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type= "text/css" href="/topnav.css">
    <link rel="stylesheet" type= "text/css" href="/News.css">
    <meta charset="UTF-8">
    <title>Nyheder</title>
</head>
<body>
<div class="topnav">
    <a href="/">Hjem</a>
    <a class="active"  href="/News">Nyheder</a>
    <a href="/YourHelp">Hvad kan du gøre?</a>
    <a href="/About">Om os</a>
</div>
<h3>Coops kunder har reddet en million måltider fra skraldespanden</h3>
<img src="images/coop.png" alt="coop" width="600" height="300">
<p>Siden 2017 har brugerne af Too Good To Go-appen kunnet købe og hente såkaldte 'lykkeposer' med overskudsmad fra Coops butikker.</p>
<br>
<p>Og det har indtil videre skånet en million måltider fra at ryge i biocontaineren.<br><br>
    Omregnet til CO2 svarer det til 2,5 tons - eller fx 10.926 flyture mellem København og London, skriver Coop i en pressemeddelelse.<br><br>
    Signe D. Frese, CSR-direktør i Coop, ser samarbejdet med Too Good To Go som en vigtig del af arbejdet med at reducere madspild og oplever stor opbakning fra kunderne:<br><br>
    - Vores kunder har, igennem efterhånden mange år, været optaget af at reducere madspild. Derfor er det naturligt for os at samarbejde med Too Good To Go. Her er et fælles projekt, der virkelig giver mening, og det har været fantastisk at se, hvordan både kunder og butikker fra første færd har taget konceptet til sig. Derfor er der også hele tiden flere af vores butikker, der kommer med i ordningen, og mere mad der bliver reddet, forklarer hun.<br><br>
    Hos Too Good To Go er landechef Heidi Boye fuld af beundring for Coops indsats mod madspild:<br><br>
    - En million reddede måltider er en virkelig imponerende milepæl. Coop var den første repræsentant fra dagligvarehandlen i appen, og de deltagende butikker har nu stået for næsten en femtedel af al den mad, der er blevet reddet i Too Good To Gos fireårige levetid. Det giver vist sig selv, at vi er meget glade for det samarbejde, siger hun.<br><br>
    I praksis tjekker medarbejderne i flere end 400 Coop-butikker landet over hver dag kølemontre og hylder for varer, der nærmer sig sidste salgsdato.<br><br>
    Det kan være brød bagt om morgenen, som ikke må sælges dagen efter, to-go-salater med kort holdbarhed eller frugt og grønt, der skal spises nu. Men i stedet for at blive sendt til bioforgasning, bliver varerne pakket i de såkaldte 'lykkeposer', som brugere af Too Good To Go-appen kan afhente i butikken.<br><br>
    Coop har arbejdet systematisk med at reducere sit madspild siden 2013. Kampen for at reducere madspild er også en del af Coops CSR-strategi, Tid til at handle.
</p>
</body>
</html>