<!--
Max
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/topnav.css">
    <link rel="stylesheet" type="text/css" href="/YourHelpStylesheet.css">
    <meta charset="UTF-8">
    <title>Hvad kan du gøre? - Stop madspild</title>
</head>
<body>

<!-- Header -->
<div class="topnav">
    <a href="/">Home</a>
    <a href="/News">Nyheder</a>
    <a class="active" href="/YourHelp">Hvad kan du gøre?</a>
    <a href="/About">Om os</a>
</div>

<div class="about-section" style="opacity: 70%">
    <h1 style="color:#000000">Vi har brug for din hjælp!</h1>
    <p style="color: #000000">Her er nogle forslag til hvordan du som forbruger <br>kan hjælpe til at mindske madspildet
        i din hverdag.</p>
</div>

<div class="row">

    <!-- First column -->
    <div class="column">
        <div class="card">
            <a href="https://www.kk.dk/bioposer">
                <img src="/images/biospand.png" alt="biospande" style="width:100%">
            </a>
            <div class="container">
                <h2>Sorter affald.</h2>
                <p>Med en stigende levestandard og befolkningstilvækst i verden er det ikke kun sund fornuft, men det er
                    også en nødvendighed, at vi genanvender ressourcerne i affaldet.<br><br>Læs mere om hvorfor du bør
                    sortere affald ved at trykke på linket forneden.</p>
                <a href="https://www.kk.dk/bioposer">
                    <p>
                        <button class="button">Bestil gratis bioposer og spand.</button>
                    </p>
                </a>
                <a href="https://videnskab.dk/kultur-samfund/giver-det-overhovedet-mening-at-sortere-skrald">
                    <p>
                        <button class="button">videnskab.dk</button>
                    </p>
                </a>
            </div>
        </div>
    </div>

    <!-- Second column -->
    <div class="column">
        <div class="card">
            <a href="http://www.stopspildafmad.dk/madtilhjemloese.html">
                <img src="/images/homeless.png" alt="hjemløs" style="width:100%">
            </a>
            <div class="container">
                <h2>Doner overskydent mad.</h2>
                <p>SGør en god gerning og vær med til at donere overskudsmad til udsatte – opfordr dine lokale fødevarevirksomheder, supermarkeder, bagerier og andre til at donere deres gode overskudsfødevarer til hjemløse og socialt udsatte. Husk på at det er et absolut must, at overskudsmaden skal være frisk, korrekt opbevaret og korrekt nedkølet – og skal doneres helt gratis.<br><br>Tryk på linket forneden for at se hvor <b>du</b> kan donere mad.</p>
                <a href="http://www.stopspildafmad.dk/madtilhjemloese.html">
                    <p>
                        <button class="button">Doner dit mad.</button>
                    </p>
                </a>
            </div>
        </div>
    </div>

    <!-- Third column -->
    <div class="column">
        <div class="card">
            <img src="/images/groceries.png" alt="indkøbsvarer" style="width:100%">
            <div class="container">
                <h2>Lær at opbevare maden rigtigt.</h2>
                <p>Æbler, pærer, bananer og appelsiner skal helst ikke i berøring med hinanden, ellers modnes de hurtigere. Tomater, avocado, rugbrød, kartofler, bananer og citrusfrugter skal opbevares udenfor køleskabet. Broccoli, asparges, blomkål, champignoner, forårsløg, grønne bønner, gulerødder (uden top), salathoved, ingefær, kål, løg, persille, porrer, ruccola, salat, babyleaves og spinat opbevares i en plastpose i køleskabet. Brug kun plastemballage, som er egnet til fødevarer.</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>